.bookImg {
    width: 90px;
    height: 130px;
    object-fit: cover;
    cursor: pointer;
}

.bookImgContainer {
    width: 90px;
    height: 140px;
}

.bookShelfCard {
    margin-top: 4rem;
    padding: 1rem;
}

.bookImgLarge {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image {
    position:relative;
}

.image .text {
    position:absolute;
    top:30px;
    left:5px;
    right: 5px;
    width: 80px;
    text-align: match-parent;
}

.dialogStyle {
    max-height: 100%;
}

@media screen and (max-width: 600px){
    .bookImg {
        width: 60px;
        height: 85px;
        object-fit: cover;
    }

    .bookShelfCard {
        margin-top: 3rem;
        padding: 0.8rem;
    }

    .image .text {
        position:absolute;
        top:20px;
        left:5px;
        right: 5px;
        width: 65px;
        text-align: match-parent;
    }

    .dialogStyle {
        max-height: 80%;
    }

    .bookImgContainer {
        width: 70px;
        height: 90px;
    }
}