.App {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.MyNav {
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.UserImage {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.BookImage {
  width: 100px;
  height: 150px;
  padding: 10px;
}

.ReviewItem {
  width: auto;
  height: 200px;
  padding: 10px;
}

.hidden {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
